.left-auto
    {
        margin-left: inherit !important;
        display: flex;
        align-items: center;
    }

.bg_color {
    background-color: #000000 !important;
    color: #fff !important;
}