<div class="main-container">
  <div class="middle-container mb0">
    <div class="page-heading">
      <div class="heading-text">
        <h2>{{active_tab}} List</h2>
      </div>
    </div>
    <div class="uppr-one m-right-data">
      <ul>
        <li class="refresh-area mr0 after-none">
          <a class="refresh-btn" mat-raised-button (click)="active_tab == 'Billing' ? get_billing_data_list('refresh') :active_tab == 'Payment'?  get_payment_data_list('refresh'):get_credit_note_data_list('refresh')"  matTooltip="Refresh" ><i class="material-icons"> refresh</i></a>
        </li>
      </ul>
      
      <div class="tabs ml15">
        <ul>
          <li><a class="" [ngClass]="active_tab == 'Billing' ? 'active' : ''" (click)="active_tab = 'Billing';get_billing_data_list();">Billing</a></li>
          <li><a class="" [ngClass]="active_tab == 'Payment' ? 'active' : ''" (click)="active_tab = 'Payment';get_payment_data_list();">Payment</a></li>
          <li><a class="" [ngClass]="active_tab == 'Credit Note' ? 'active' : ''" (click)="active_tab = 'Credit Note';get_credit_note_data_list();">Credit Note</a></li>
        </ul>
      </div>
      
    </div>
    
    <div class="left-auto" >
      
      <!-- <div class="top-pagination">
        <ul>
          <li><p>Pages {{pagenumber}} Of {{total_page}}</p>
          </li>
          <li>
            <button mat-button class="left-btn" (click)="start=start-page_limit; get_area_target()" [disabled]="pagenumber == 1">
              <i class="material-icons">keyboard_arrow_left</i>
            </button>
          </li>
          <li>
            <input type="text" placeholder="GO TO" name="pagenumber" (keyup.enter)="start=(pagenumber*page_limit)-page_limit; get_area_target()" [(ngModel)]="pagenumber"  min="1" max={{total_page}}>
          </li>
          
          <li>
            <button mat-button class="right-btn"  (click)="start=start+page_limit; get_area_target()" [disabled]="pagenumber == total_page">
              <i class="material-icons">keyboard_arrow_right</i>
            </button>
          </li>
        </ul>
      </div> -->
      
      <div class="update-block flat flat-block ml30">
        <button mat-raised-button class="bg_color" ><i class="material-icons mr10">schedule</i> {{last_synchronised_data_date && last_synchronised_data_date != '' && last_synchronised_data_date != '0000-00-00 00:00:00' ?( last_synchronised_data_date | date : ' d MMM , y, hh:mm aa') : 'Not Updated Yet'}}</button>
      </div>
      
      
    </div>
    
    
    
  </div>
  
  <div class="container-outer padding0">
    <div class="container">
      <div class="cs-table cs-table-scroll">
        <div class="stickyTableHead" style="width: fit-content;">
          <div class="table-head">
            <table>
              <tr>
                <th class="w60">S. No.</th>
                <!-- <th class="w120" *ngIf="active_tab == 'Credit Note'">Date Created</th> -->
                <th class="w150">Customer Name</th>
                <th class="w120">Customer Code</th>
                <!-- <th class="w120" *ngIf="active_tab == 'Credit Note'">Payment Date</th> -->
                <th class="w150" *ngIf="active_tab != 'Credit Note'">{{active_tab == 'Billing'?  'Bill Date' : 'Payment Date'}}</th>
                <!-- <th class="w150" *ngIf="active_tab != 'Billing'"> Payment Type</th> -->
                <th  *ngIf="active_tab != 'Billing' && active_tab!='Credit Note'" class="w150">Receipt No.</th>
                <th class="w120">Reference Bill Number</th>  
                <th class="w120" *ngIf="active_tab == 'Credit Note'">Reference  Bill Date</th>
                <th class="w120" *ngIf="active_tab == 'Credit Note'">Voucher No</th>
                <th class="w120" *ngIf="active_tab == 'Credit Note'">Voucher Date</th>
                <th class="w120" *ngIf="active_tab == 'Credit Note'">Total Amount</th>
                <th class="w120" *ngIf="active_tab == 'Credit Note'">Return Value</th>
                <!-- <th class="w120" *ngIf="active_tab == 'Credit Note'">App Discount Percentage</th> -->
                <th class="w120" *ngIf="active_tab == 'Credit Note'">Gst Amount</th>
                <!-- <th class="w120" *ngIf="active_tab == 'Credit Note'">Round Off Value</th> -->

                <th *ngIf= "active_tab == 'Billing'" class="w100">Status</th>  
                <th *ngIf= "active_tab == 'Billing'" class="w110">Total Bill Item</th>
                <th *ngIf= "active_tab == 'Billing'" class="w80">Item Qty</th>
                <th *ngIf= "active_tab == 'Billing'" class="w100">Bill Amount</th>
                <th class="w130" *ngIf="active_tab != 'Credit Note'">Payment Received</th>
                <th *ngIf= "active_tab == 'Billing'" class="w120">Pending Amount</th>
                <th *ngIf= "active_tab == 'Billing'" class="w120">Dispatch Status</th>
              </tr>
            </table>
          </div>
          <div class="table-head bdrt">
            <table>
              <tr>
                <th class="w60"></th>
                
                <th class="w150">
                  <div class="th-search-acmt">
                    <mat-form-field class="example-full-width cs-input select-input">
                      <input matInput placeholder="Customer Name. . ." name="customer_name" [(ngModel)]="search.customer_name" (keyup.enter)="active_tab == 'Billing'?get_billing_data_list():active_tab == 'Payment'?get_payment_data_list():get_credit_note_data_list()">
                    </mat-form-field>
                  </div>
                </th>
                <th class="w120">
                  <div class="th-search-acmt">
                    <mat-form-field class="example-full-width cs-input select-input">
                      <input matInput onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="Code. . ." name="customer_code" [(ngModel)]="search.customer_code" (keyup.enter)="active_tab == 'Billing'?get_billing_data_list():active_tab == 'Payment'?get_payment_data_list():get_credit_note_data_list()">
                    </mat-form-field>
                  </div>
                </th>
                <!-- <th class="w120" *ngIf="active_tab == 'Credit Note'"></th> -->
                <th class="w150" *ngIf="active_tab!='Credit Note'">
                  <div class="th-search-acmt">
                    <mat-form-field class="example-full-width cs-input"  >
                      <input matInput [matDatepicker]="picker" placeholder="Date" name="date" [(ngModel)]="search.date" (dateChange)="con_date(search.date)" readonly>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </th>
                
                
                <th  *ngIf="active_tab != 'Billing' && active_tab != 'Credit Note'" class="w150">
                  <div class="th-search-acmt">
                    <mat-form-field class="example-full-width cs-input select-input">
                      <input matInput placeholder=". . ." name="payment_id" [(ngModel)]="search.payment_id" (keyup.enter)="active_tab == 'Billing'?get_billing_data_list():get_payment_data_list()">
                    </mat-form-field>
                  </div>
                </th>
                <th class="w120">
                  <div class="th-search-acmt">
                    <mat-form-field class="example-full-width cs-input select-input">
                      <input matInput onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder=". . ." name="bill_number" [(ngModel)]="search.bill_number" (keyup.enter)="active_tab == 'Billing'?get_billing_data_list():active_tab == 'Payment'?get_payment_data_list():get_credit_note_data_list()">
                    </mat-form-field>
                  </div>
                </th>
                <th class="w120" *ngIf="active_tab == 'Credit Note'">
                  <div class="th-search-acmt">
                    <mat-form-field class="example-full-width cs-input"  >
                      <input matInput [matDatepicker]="picker1" placeholder="Bill Date" name="bill_date" [(ngModel)]="search.bill_date" (dateChange)="get_credit_note_data_list()" readonly>
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                  </div>
                </th>
                <th class="w120" *ngIf="active_tab == 'Credit Note'">
                  <div class="th-search-acmt">
                    <mat-form-field class="example-full-width cs-input select-input">
                      <input matInput placeholder="Voucher No.. ." name="voucher_no" [(ngModel)]="search.voucher_no " (keyup.enter)="active_tab == 'Billing'?get_billing_data_list():active_tab == 'Payment'?get_payment_data_list():get_credit_note_data_list()">
                    </mat-form-field>
                  </div>
                </th>
                <th class="w120" *ngIf="active_tab == 'Credit Note'">
                  <div class="th-search-acmt">
                    <mat-form-field class="example-full-width cs-input"  >
                      <input matInput [matDatepicker]="picker2" placeholder="Voucher Date" name="voucher_date  " [(ngModel)]="search.voucher_date" (dateChange)="get_credit_note_data_list()" readonly>
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                  </div>
                </th>
                <th class="w120" *ngIf="active_tab == 'Credit Note'"></th>
                <th class="w120" *ngIf="active_tab == 'Credit Note'"></th>
                <!-- <th class="w120" *ngIf="active_tab == 'Credit Note'"></th> -->
                <th class="w120" *ngIf="active_tab == 'Credit Note'"></th>
                <!-- <th class="w120" *ngIf="active_tab == 'Credit Note'"></th> -->
                <th *ngIf= "active_tab == 'Billing'" class="w100">
                  <div class="th-search-acmt">
                    <mat-form-field class="cs-input">
                      <mat-label></mat-label>
                      <mat-select name="selected_category_direct_dealer" [(ngModel)]="search.status">
                        <mat-option value="paid" (click)="get_billing_data_list()">Paid</mat-option>
                        <mat-option value="unpaid" (click)="get_billing_data_list()">Un-Paid</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </th>  
                <th *ngIf="active_tab == 'Billing'" class="w110"></th>
                <th *ngIf="active_tab == 'Billing'" class="w80"></th>
                <th *ngIf="active_tab == 'Billing'" class="w100"> &#8377; {{overall_total_sum.overall_total_billing_amount}}</th>
                <th class="w130" *ngIf="active_tab != 'Credit Note'">&#8377; {{active_tab == 'Billing' ? overall_total_sum.overall_billing_receive_amount : overall_total_payment_amount}}</th>
                <th *ngIf="active_tab == 'Billing'" class="w120">&#8377; {{overall_total_sum.overall_pending_balance}}</th>
                <th *ngIf="active_tab == 'Billing'" class="w120"></th>
              </tr>
            </table>
          </div>
        </div>
        
        <div class="table-container" style="width: fit-content;">
          <div class="table-content">
            <table>
              <tr *ngFor=" let billing_data of (active_tab == 'Billing' ? billing_list : active_tab == 'Payment'? payment_list:credit_note);let i = index">
                <td class="w60">{{i+1}}</td>
                <!-- <td class="w120" *ngIf="active_tab == 'Credit Note'">{{billing_data.date_created | date : 'dd-MMM-yyyy'}}</td> -->

                <td class="w150" [ngClass]="active_tab == 'Billing' ? (billing_data.pending_balance!= '0' ? 'stock-alert' : 'stock-green'):''">{{billing_data.customer_name && billing_data.customer_name!= '' && billing_data.customer_name!= null ? (billing_data.customer_name | titlecase):'--'}}</td>
                <td class="w120">{{billing_data.customer_code && billing_data.customer_code != '' && billing_data.customer_code != null ? billing_data.customer_code : '--'}}</td>
                <!-- <td class="w120" *ngIf="active_tab == 'Credit Note'">{{billing_data.payment_date | date : 'dd-MMM-yyyy'}}</td> -->
                <td  *ngIf="active_tab == 'Billing' && active_tab != 'Credit Note'" class="w150">{{billing_data.billing_date && billing_data.billing_date != '' && billing_data.billing_date != null && billing_data.billing_date != '0000-00-00' ? (billing_data.billing_date | date :' d MMM, y '): '--'}}</td>
                <td  *ngIf="active_tab != 'Billing' && active_tab != 'Credit Note'" class="w150">{{billing_data.payment_date && billing_data.payment_date != '' && billing_data.payment_date != null && billing_data.payment_date != '0000-00-00' ? (billing_data.payment_date | date :' d MMM, y '): '--'}}</td>
                <!-- <td class="w150" *ngIf="active_tab != 'Billing'"> {{billing_data.payment_type && billing_data.payment_type!='' ? billing_data.payment_type : '--' }}</td> -->
                <td  *ngIf="active_tab != 'Billing' && active_tab != 'Credit Note'" class="w150">{{billing_data.payment_id}}</td>
                <td class="w120">{{billing_data.bill_number && billing_data.bill_number != '' && billing_data.bill_number != null ? billing_data.bill_number : '--'}}</td>
                <td class="w120" *ngIf="active_tab == 'Credit Note'">{{billing_data.bill_date | date:'dd-MMM-yyy'}}</td>
                <td class="w120" *ngIf="active_tab == 'Credit Note'">{{billing_data.voucher_no}}</td>
                <td class="w120" *ngIf="active_tab == 'Credit Note'">{{billing_data.voucher_date | date:'dd-MMM-yyyy'}}</td>
                <td class="w120" *ngIf="active_tab == 'Credit Note'">&#8377; {{billing_data.TotalAmount}}</td>
                <td class="w120" *ngIf="active_tab == 'Credit Note'">{{billing_data.ReturnValue}}</td>
                <!-- <td class="w120" *ngIf="active_tab == 'Credit Note'">{{billing_data.AppDiscountPerc}}</td> -->
                <td class="w120" *ngIf="active_tab == 'Credit Note'">{{billing_data.GSTAmount}}
                  <div class="action-btns">
                    <button  mat-button class="delete"*ngIf= "active_tab == 'Credit Note'" (click)="deleteCreditNote(billing_data.id)"><i class="material-icons">delete_sweep</i> Delete</button>
                  </div>

                </td>
                <!-- <td class="w120" *ngIf="active_tab == 'Credit Note'">{{billing_data.RoundOffValue}}</td> -->


                <td *ngIf="active_tab == 'Billing'" class="w100">{{active_tab == 'Billing' ? (convert_integer(billing_data.pending_balance)> 0 ? 'Unpaid' : 'Paid'):''}}</td>  
                <td  *ngIf="active_tab == 'Billing'" class="w110">{{billing_data.total_billing_item && billing_data.total_billing_item != '' && billing_data.total_billing_item != null ? billing_data.total_billing_item : '--'}}</td>
                <td  *ngIf="active_tab == 'Billing'" class="w80">{{billing_data.total_billing_item_qty && billing_data.total_billing_item_qty != '' && billing_data.total_billing_item_qty != null ? billing_data.total_billing_item_qty : '--'}}</td>
                <td  *ngIf="active_tab == 'Billing'" class="w100">&#8377; {{billing_data.total_billing_amount && billing_data.total_billing_amount != '' && billing_data.total_billing_amount != null ? billing_data.total_billing_amount : '--'}}</td>
                <td  *ngIf="active_tab == 'Billing'" class="w130">&#8377; {{billing_data.billing_receive_amount && billing_data.billing_receive_amount != '' && billing_data.billing_receive_amount != null ? billing_data.billing_receive_amount : '--'}}</td>
                <td  *ngIf="active_tab != 'Billing' &&  active_tab != 'Credit Note'" class="w130">&#8377; {{billing_data.payment_amount && billing_data.payment_amount != '' && billing_data.payment_amount != null ? billing_data.payment_amount : '--'}}
                  <div class="action-btns">
                    <!-- <a mat-button class="view" (click)="go_to(billing_data.payment_id,'Payment')"><i class="material-icons">remove_red_eye</i> View</a> -->
                    <a mat-button class="view" (click)="go_to(billing_data.id,'Payment')"><i class="material-icons">remove_red_eye</i> View</a>
                    <button  mat-button class="delete" *ngIf= "active_tab != 'Billing'"(click)="deletepayment(billing_data.id)"><i class="material-icons">delete_sweep</i> Delete</button>
                  </div>
                </td>
                <td  *ngIf="active_tab == 'Billing'" class="w120">&#8377; {{billing_data.pending_balance && billing_data.pending_balance != '' && billing_data.pending_balance != null ? billing_data.pending_balance : '--'}}
                </td>
                <td  *ngIf="active_tab == 'Billing'" class="w120" [ngClass]="{'yellow-clr':billing_data.dispatch_status=='Pending','green-clr':billing_data.dispatch_status=='Completed'} ">
                  {{billing_data.dispatch_status ? billing_data.dispatch_status : '--'}}
                  <div class="action-btns">
                    <a mat-button class="view" *ngIf="billing_data.dispatch_status=='Pending'" (click)="openDispatchPage(billing_data.id)"><i class="material-icons">edit</i> Dispatch</a>
                    <a mat-button class="view" (click)="go_to(billing_data.id,'Billing')"><i class="material-icons">remove_red_eye</i> View</a>
                   
                    <button  mat-button class="delete"*ngIf="active_tab == 'Billing' && billing_data.dispatch_status=='Pending' " (click)="deletebilling(billing_data.id)"><i class="material-icons">delete_sweep</i> Delete</button>
                    
                  </div>
                </td>
              </tr>
              
              <ng-container *ngFor="let lead of skelton">
                <tr class="sk-loading"  *ngIf="loader">
                  <td class="w60"><div>&nbsp;</div></td>
                  <!-- <td class="w120"><div>&nbsp;</div></td> -->
                  <td class="w150"><div>&nbsp;</div></td>
                  <td class="w120"><div>&nbsp;</div></td>
                  <td class="w120"><div>&nbsp;</div></td>
                  <td class="w150"><div>&nbsp;</div></td>
                  <!-- <td *ngIf="active_tab != 'Billing'" class="w150"><div>&nbsp;</div></td> -->
                  <td *ngIf="active_tab != 'Billing' && active_tab != 'Credit Note'" class="w150"><div>&nbsp;</div></td>
                  <td class="w120"><div>&nbsp;</div></td>
                  <!-- <td class="w120" *ngIf="active_tab == 'Credit Note'"><div>&nbsp;</div></td> -->
                  <td class="w120" *ngIf="active_tab == 'Credit Note'"><div>&nbsp;</div></td>
                  <td class="w120" *ngIf="active_tab == 'Credit Note'"><div>&nbsp;</div></td>
                  <td class="w120" *ngIf="active_tab == 'Credit Note'"><div>&nbsp;</div></td>
                  <!-- <td class="w120" *ngIf="active_tab == 'Credit Note'"><div>&nbsp;</div></td> -->
                  <td class="w120" *ngIf="active_tab == 'Credit Note'"><div>&nbsp;</div></td>
                  <!-- <td class="w120" *ngIf="active_tab == 'Credit Note'"><div>&nbsp;</div></td> -->
                  <td *ngIf= "active_tab == 'Billing'" class="w100"><div>&nbsp;</div></td>
                  <td *ngIf="active_tab == 'Billing'" class="w110"><div>&nbsp;</div></td>
                  <td *ngIf="active_tab == 'Billing'" class="w80"><div>&nbsp;</div></td>
                  <td *ngIf="active_tab == 'Billing'" class="w100"><div>&nbsp;</div></td>
                  <td class="w130" *ngIf="active_tab != 'Credit Note'"><div>&nbsp;</div></td>
                  <td *ngIf="active_tab == 'Billing'" class="w120"><div>&nbsp;</div></td>
                  <td *ngIf="active_tab == 'Billing'" class="w120"><div>&nbsp;</div></td>
                </tr>
              </ng-container>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- (active_tab == 'Credit Note' && credit_note.length ==0) ? true: -->
    <div class="data-not-available"  *ngIf="active_tab == 'Billing' && billing_list.length ==0 ? true : (active_tab == 'Payment' && payment_list.length ==0) ? true : false">
      <div class="outer">
        <div class="iinear">
          <div class="figure" matRipple>
            <div class="header">
              <img src="assets/img/data-not-available-header.svg" alt="">
            </div>
            
            <div class="description">
              <div class="cs-heading">
                <h2>{{active_tab == 'Billing' ? 'Billing' :'Payment'}}</h2>
              </div>
              <div class="img">
                <i class="material-icons">error_outline</i>
              </div>
              <div class="psc">
                <p>Data Not Available</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="data-not-available"  *ngIf="(active_tab=='Credit Note' && credit_note.length ==0) ? true:  false">
      <div class="outer">
        <div class="iinear">
          <div class="figure" matRipple>
            <div class="header">
              <img src="assets/img/data-not-available-header.svg" alt="">
            </div>
            
            <div class="description">
              <div class="cs-heading">
                <h2>Credit Note</h2>
              </div>
              <div class="img">
                <i class="material-icons">error_outline</i>
              </div>
              <div class="psc">
                <p>Data Not Available</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  <div class="fix-btn">
    <a class="bottom-btn ecxel-btn" matTooltip="Download Excel" matTooltipPosition="above" mat-raised-button (click)="download_excel()"><img src="assets/img/excel.svg"></a>
    <a *ngIf="view_add" class="bottom-btn"  matTooltip="Upload Excel" matTooltipPosition="above" mat-raised-button (click)="upload_excel()"><i class="material-icons">cloud_upload</i></a>
    
  </div>
  
</div>